<h2>Drum Rack Inspector</h2>
<p><em>Note: this inspects the samples from a drum rack, but does not take into account any start / hold / length times, including slice information. Reversing a sample will create a new copy of the raw sound file itself!</em></p>
{message_html}

<form method="POST" action="/drum-rack-inspector">
    <input type="hidden" name="action" value="select_preset">
    <label for="preset_select">Select a Drum Rack:</label>
    <select name="preset_select" id="preset_select">
        {{ options }}
    </select>
</form>

<div class="samples-container">
    {{ samples_html }}
</div>
