<!DOCTYPE html>
<html>
    <head>
        <title>Move - Extended</title>
        <link rel="stylesheet" href="/static/style.css">
        
        <!-- Include WaveSurfer core and the Regions plugin -->
        <script src="https://unpkg.com/wavesurfer.js@6/dist/wavesurfer.js"></script>
        <script src="https://unpkg.com/wavesurfer.js@6/dist/plugin/wavesurfer.regions.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.7.1/jszip.min.js"></script>
        <script src="/static/main.js"></script>
        <script src="/static/shared.js"></script>
        <script src="/static/chord.js"></script>

    </head>
    <body>
        <h1 id="header">Move - Extended</h1>
        <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'Restore')" id="defaultOpen">Restore Set</button>
            <button class="tablinks" onclick="openTab(event, 'Slice')">Slice Kit</button>
            <button class="tablinks" onclick="openTab(event, 'Chord')">Chord Kit</button>
            <button class="tablinks" onclick="openTab(event, 'DrumRackInspector')">Drum Rack Inspector</button>
            <button class="tablinks" onclick="openTab(event, 'Reverse')">Reverse WAV</button>
            <!-- <button class="tablinks" onclick="openTab(event, 'Refresh')">Refresh Library</button> -->
        </div>

        <div id="Slice" class="tabcontent">
            <!-- The Slice Kit form content will be loaded here dynamically -->
        </div>

        
        <div id="DrumRackInspector" class="tabcontent">
            <!-- The Drum Rack Inspector form content will be loaded here dynamically -->
        </div>

        <div id="Reverse" class="tabcontent">
            <!-- The Reverse WAV form content will be loaded here dynamically -->
        </div>        
        
        <div id="Restore" class="tabcontent">
            <!-- The Restore Set form content will be loaded here dynamically -->
        </div>
        
        <div id="Chord" class="tabcontent">
            <!-- The Chord Kit form content will be loaded here dynamically -->
        </div>

<small id="footer">More information on <a href="http://github.com/charlesvestal/extending-move">GitHub</a>. <a href="mailto:charles@charles.pizza">Feedback welcome!</a></small>

    </body>
</html>
