{% extends "base.html" %}
{% block content %}
<h2>Synth Control Panel</h2>
<div id="knob-container">
  <div class="knob-group">
    <h3>Oscillator 1</h3>
    <div id="osc1-octave"></div>
    <div id="osc1-shape"></div>
  </div>
  <div class="knob-group">
    <h3>Oscillator 2</h3>
    <div id="osc2-octave"></div>
    <div id="osc2-detune"></div>
  </div>
  <div class="knob-group">
    <h3>Mix</h3>
    <div id="mix-osc1"></div>
    <div id="mix-osc2"></div>
    <div id="mix-noise"></div>
  </div>
  <div class="knob-group">
    <h3>Filter</h3>
    <div id="filter-freq"></div>
    <div id="filter-res"></div>
    <div id="filter-hp"></div>
  </div>
  <div class="knob-group">
    <h3>Envelope 1</h3>
    <div id="env1-attack"></div>
    <div id="env1-decay"></div>
    <div id="env1-sustain"></div>
    <div id="env1-release"></div>
  </div>
  <div class="knob-group">
    <h3>Envelope 2</h3>
    <div id="env2-attack"></div>
    <div id="env2-decay"></div>
    <div id="env2-sustain"></div>
    <div id="env2-release"></div>
  </div>
  <div class="knob-group">
    <h3>LFO</h3>
    <div id="lfo-ratio"></div>
    <div id="lfo-amount"></div>
  </div>
  <div class="knob-group">
    <h3>Volume</h3>
    <div id="mixer-volume"></div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script src="https://unpkg.com/nexusui@latest/dist/NexusUI.js"></script>
<script src="{{ host_prefix }}/static/synth_knobs.js"></script>
{% endblock %}
